<% if task.status != 0 or task.user == current_user %>
	<li>
		<% if current_user == task.user %>
			<span class="glyphicon glyphicon-triangle-right"></span>
			<%= task.name %> | 
			<%= number_to_percentage(task.percent_complete, precision: 0) %> <span> complete</span>
			<div class="task-status">
				<%= show_task_action task %>
				<%= link_to list_task_path(task.list.code, task), method: :delete do %>
					<span class="glyphicon glyphicon-remove"></span> 
				<% end %>
			</div>

		<% elsif task.taskling_for(current_user) %>
			<% taskling = task.taskling_for(current_user) %>
			<%= show_taskling_action taskling %> 
			<%= task.name %>
			<%= show_taskling_status taskling %>
			<%# link_to "I'm done", taskling_path(taskling, taskling:{status:3}), method: :patch, class: "btn btn-xs btn-success" %>
			<%# link_to "I'm stuck", taskling_path(taskling, taskling:{status:2}), method: :patch, class: "btn btn-xs btn-warning" %>
		<% else %>
		
			<%= task.name %>
			
		<% end %>
	</li>
<% end %>  