<p id="notice"><%= notice %></p>

<%= content_tag :h1, @task.name %>
<%= content_tag :p, "#{pluralize @users.size, "person"} working on this task." %> 
<%= render partial: 'users/greeting' %>

<% if @task.user == @user %>
<%= render partial: 'admin' %>
<% end %>
<p>Click the button below when you have completed the task<p>
<%= link_to 'done', , class: :button %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
