<%= content_tag :div, class: "jumbotron" do %>

	<p id="notice"><%= notice %></p>
	<%= render partial: 'users/greeting' %>
	<hr />
	<%= content_tag :h1, @task.name %>
		<p class="lead">Click the button below when you have completed the task</p>
	<p><%= link_to 'done', task_complete_path(@task), class: "btn btn-lg btn-success" %></p>
	<hr />
	<%= content_tag :p, "#{pluralize @users.size, "person"} working on this task." %> 

	<% if @task.user == @user %>
	<%= render partial: 'admin' %>
	<% end %>
<% end %>
