<%= content_tag :div, class: "jumbotron" do %>

	<p id="notice"><%= notice %></p>
	<%= render partial: 'users/greeting' %>
	<hr />
	<%= content_tag :h1 do %>
	<%= @task.name %>
		<% unless @task.user == @user %>
		<%= link_to 'I\'m done', task_complete_path(@task), class: "btn btn-lg btn-success" %>
		<%= link_to 'I\'m stuck', task_complete_path(@task), class: "btn btn-lg btn-warning" %>
		<% end %>
	<% end %>
	<hr />
	<% if @task.user == @user %>
	<%= render 'admin' %>
	<% end %>
<% end %>
