<!DOCTYPE html>
<html>
<head>
  <title>ToDoer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="content">
	<header>
		<div class="container">
		<%= link_to 'ToDoer', root_path, id: "logo" %>
		<nav class="navbar-right">
			<ul>
				<%= render 'shared/admin' %>
				<%= render 'shared/login' %>
			</ul>
		</nav>
	</div>
	</header>
	<%= content_tag :main, role: :main do %>
		<% if notice %>
			<br />
			<div id="notice" class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<%= notice %>
			</div>
		<% end %>
		<% if alert %>
			<br />
			<div id="alert" class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<%= alert %>
		</div>
		<% end %>
		<%= yield %>
	<% end %>
</div>
	<% if Rails.env.development? %> 
	<footer class="footer"><div class="container"><%= render 'shared/switcher' %></div></footer>
	<% end %>
</body>
</html>
